<h1>
  {{#if edit}}
    Edite o usuário
  {{else}}
    Cadastre o usuário
  {{/if}}
</h1>
<form
  {{#if edit}}
     action="/users/edit"
  {{else}}
      action="/users/create"
  {{/if}}
 method="post">
 <input type="hidden" name="id" value="{{this.user.id}}">
  <div class="form-control">
    <label for="name">Nome:</label>
    <input
      type="text"
      name="name"
      placeholder="Digite seu nome"
      value="{{this.user.name}}"
    />
  </div>
  <div class="form-control">
    <label for="occupation">Profissão:</label>
    <input
      type="text"
      name="occupation"
      placeholder="Digite sua profissão"
      value="{{this.user.occupation}}"
    />
  </div>
  <div class="form-control form-checkbox">
    <input
      type="checkbox"
      name="newsletter"
      {{#if newsletter}}
       checked
      {{/if}}      
      {{this.newsletter}}
    />
    <label for="newsletter">Quer receber promoções?</label>
  </div>
  {{#if edit}}
     <input type="submit" value="Editar" />
  {{else}}
      <input type="submit" value="Cadastrar" />
  {{/if}}
</form>

<div class="address-container">
  <h2>Endereço</h2>
  <form action="/address/create" method="post">
    <input type="hidden" name="UserId" value="{{this.user.id}}">
    <div class="form-control">
        <label for="street">Rua:</label>
        <input type="text" name="street" id="" placeholder="Digite a rua">
    </div>
    <div class="form-control">
        <label for="number">Número:</label>
        <input type="text" name="number" id="" placeholder="Digite o número da residência">
    </div>
    <div class="form-control">
        <label for="city">Cidade:</label>
        <input type="text" name="city" id="" placeholder="Digite a cidade">
    </div>
    {{#if edit}}
      <input type="submit" value="Editar" />
    {{else}}
        <input type="submit" value="Cadastrar" />
    {{/if}}  
  </form>
</div>

<h2>lista de endereços cadastrados</h2>

<div class="address-list">
  {{#each this.user.Addresses}}
    <p>#{{this.id}} - {{this.street}} - {{this.number}} - {{this.city}}</p>
    <form action="/address/delete" method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="hidden" name="UserId" value="{{this.UserId}}">
      <input type="submit" value="Remover endereço">
    </form>
  {{/each}}
</div>

<a href="/">Voltar</a>